{% assign post = post | default: page %}

<article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
  <h2 class="archive__item-title no_toc" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ post.title }}</a>
      <a href="{{ post.url | relative_url }}" rel="permalink">
        <i class="fas fa-link" aria-hidden="true" title="permalink"></i>
        <span class="sr-only">Permalink</span>
      </a>
    {% else %}
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
    {% endif %}
  </h2>

  {% if post.date %}
    <p class="page__meta">
      <i class="far fa-calendar-alt" aria-hidden="true"></i>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
    </p>
  {% endif %}
</article>
